<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT! {{else}}Make again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">THROW AWAY!</button>
</li>
